.map-container[b-97cnazu7d2]{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe[b-97cnazu7d2]{
    left:0;
    top:0;
    height:90%;
    width:50%;
    position:absolute;
  }