<h4>Thank you for using this site,</h4> 
<h4>Logged Out Successfully.</h4>
<ul class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" 
    style="background-color: red;text-align: center;font-weight: bolder;text-">Go to Home</a>
</ul>    